### Simple print

In [ ]:
person = {'name': 'Jenn', 'age': 23}

In [2]:
sentence = 'My name is ' + person['name'] + ' and I am ' + str(person['age']) + ' years old.'
print(sentence)

My name is Jenn and I am 23 years old.

### Format print

In [3]:
sentence = 'My name is {} and I am {} years old.'.format(person['name'], person['age'])
print(sentence)

My name is Jenn and I am 23 years old.

### Format with index print

In [5]:
sentence = 'My name is {0} and I am {1} years old.'.format(person['name'], person['age'])
print(sentence)

My name is Jenn and I am 23 years old.

In [6]:
tag = 'h1'
text = 'This is a headline'

In [7]:
sentence = '<{0}>{1}</{0}>'.format(tag, text)
print(sentence)

<h1>This is a headline</h1>

In [8]:
sentence = 'My name is {0[name]} and I am {1[age]} years old.'.format(person, person)
print(sentence)

My name is Jenn and I am 23 years old.

### Format with class

In [15]:
class Person():
    def __init__(self, name , age):
        self.name = name
        self.age = age

instance_jack = Person("jack", 23)
sentence = 'My name is {0.name} and I am {0.age} years old.'.format(instance_jack)
print(sentence)

My name is jack and I am 23 years old.

### Format with dictionnary

In [16]:
person = {'name': 'Jenn', 'age': 23}
sentence = 'My name is {name} and I am {age} years old.'.format(**person)
print(sentence)

My name is Jenn and I am 23 years old.

### Format with digits

In [35]:
for itr in range(1,11):
    print("value is {:03}".format(itr))
    
# "valie is {:0i}".format(value) ==> i is number of digits
# exemple : if we want 3 digis we fixe i=3  ===> "valie is {:03}".format(value)

value is 001
value is 002
value is 003
value is 004
value is 005
value is 006
value is 007
value is 008
value is 009
value is 010

### Format with decimales

In [40]:
pi = 3.14159265
sentence = 'Pi is equal to {:.3f}'.format(pi)
print(sentence)

# "valie is {:.if}".format(value) ==> i is number of digits
# exemple : if we want 3 decimales we fixe i=3  ===> "valie is {:.3f}".format(value)

Pi is equal to 3.142

### Format with comma for number

In [50]:
sentence = '1 MB is equal to {:,.2f} bytes'.format(1000**2)
print(sentence)

1 MB is equal to 1,000,000.00 bytes

### Format with date

In [58]:
import datetime

my_date = datetime.datetime(2016, 9, 24, 12, 30, 45)

print(my_date)

# March 01, 2016

sentence = '{:%B %d, %Y}'.format(my_date)
print("with format ")
print(sentence)

2016-09-24 12:30:45
with format
September 24, 2016

In [66]:
sentence = '{0:%B %d, %Y} fell on a {0:%A} and was the {0:%j} day of the year'.format(my_date)
print(sentence)

September 24, 2016 fell on a Saturday and was the 268 day of the year

### Formating with %

In [82]:
name = 'marcog'
number = 42.33
print('%s %g'%(name, number))
print("------")
print('%s %g'%(name, number))

marcog 42.33
------
marcog 42.33